<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assert/bootstrap413/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assert/datatables/css/dataTables.bootstrap4.min.css">
</head>
<body>
<div><a th:href="@{/contractdetail}">back to list</a></div>
<form th:action="@{/contractdetail/create-contractdetail}" th:object="${contractDetail}" method="post">
    <table border="1" cellpadding="5">

        <td>
            <select th:field="*{contract}">
                <label>Contract ID</label>
                <option th:each="contract:${contractList}" th:text="${contract.id}"
                        th:value="${contract.id}">

                </option>
            </select>
        </td>

        <td>
            <select th:field="*{attachService}">
                <label>AttachService </label>
                <option th:each="attachservice:${attachServiceList}" th:text="${attachservice.name}"
                        th:value="${attachservice.id}">

                </option>
            </select>
        </td>

        <tr>
            <td>Quantity</td>
            <td><input type="text" th:field="*{quantity}"></td>
        </tr>

        <tr>

            <td colspan="2"><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>

<script src="/assert/jquery/jquery-3.5.1.min.js"></script>
<script src="/assert/bootstrap413/js/popper.min.js"></script>
<script src="/assert/datatables/js/jquery.dataTables.min.js"></script>
<script src="/assert/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="/assert/bootstrap413/js/bootstrap.min.js"></script>
<script src="/assert/bootstrap413/js/bootstrap.bundle.js"></script>
</body>
</html>