<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assert/bootstrap413/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assert/datatables/css/dataTables.bootstrap4.min.css">
</head>
<body>
<h1>Blog</h1>
<a href="/contractdetail/create-contractdetail">Add</a>
<table  border="1" cellpadding="5"  class="table table-striped">
    <tr>
        <td>STT</td>
        <td>Contract</td>
        <th>Attach Service</th>
        <th>Quantity</th>


    </tr>
    <tr th:each="contractdetail,index:${contractDetailList}">
        <td th:text="${contractdetail.id}"></td>
        <td th:text="${contractdetail.contract.id}"></td>
        <td th:text="${contractdetail.attachService.name}"></td>
        <td th:text="${contractdetail.quantity}"></td>


    </tr>
</table>
<div>
    <a th:if="${contractDetailList.hasPrevious() }"
       th:href="@{'/contractdetail'(page=${contractDetailList.number-1})}">previous</a>
    <span th:text="${contractDetailList.number+1}"></span>/<span th:text="${contractDetailList.totalPages}"></span>
    <a th:if="${contractDetailList.hasNext()}"
       th:href="@{'/contractdetail'(page=${contractDetailList.number+1})}">Next</a>
</div>

<script src="/assert/jquery/jquery-3.5.1.min.js"></script>
<script src="/assert/bootstrap413/js/popper.min.js"></script>
<script src="/assert/datatables/js/jquery.dataTables.min.js"></script>
<script src="/assert/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="/assert/bootstrap413/js/bootstrap.min.js"></script>
<script src="/assert/bootstrap413/js/bootstrap.bundle.js"></script>
</body>
</html>