<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/edit-blog}" th:object="${blog}" method="post">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" th:field="*{title}"></td>
        </tr>
        <tr>
            <td>Head</td>
            <td><input type="text" th:field="*{head}"></td>
        </tr>
        <tr>
            <td>Body</td>
            <td><input type="text" th:field="*{body}"></td>
        </tr>
        <tr>
            <select th:field="*{category}">
                <option th:each="category:${categoryList}" th:text="${category.name}" th:value="${category.id}">

                </option>
            </select>
        </tr>
        <tr>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
</body>
</html>