<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assert/bootstrap413/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assert/datatables/css/dataTables.bootstrap4.min.css">
</head>
<body>
<h1>Blog</h1>
<a href="/customers/create-customer" type="button" class="btn btn-primary btn-lg">Add</a>
<form>
    <input type="search" name="name" placeholder="search by name">
    <select name="idCustomerType">
        <option selected value="">Chọn</option>

        <option th:each="customerType:${customerTypeList}" th:text="${customerType.name}" th:value="${customerType.id}">

        </option>

    </select>

    <input type="submit" value="Search">
</form>
<table border="1" cellpadding="5"  class="table table-striped">
    <tr>
        <td>STT</td>
        <td>Code</td>
       <th>Name</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>idCard</th>
        <th>phone</th>
        <th>email</th>
        <th>address</th>
        <th>type</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="customer,index:${customerList}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.code}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.birthDate}"></td>

        <td th:if="${customer.gender==0}" th:text="Male"></td>
        <td th:if="${customer.gender==1}" th:text="Female"></td>
        <td th:if="${customer.gender==2}" th:text="LGBT"></td>
        <td th:text="${customer.idCard}"></td>
        <td th:text="${customer.phone}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.address}"></td>
        <td th:text="${customer.customerType.name}"></td>

        <td><a th:href="@{/customers/edit-customer/{id}(id=${customer.id})}" type="button" class="btn btn-primary btn-lg">Edit</a></td>
<!--        <td><a th:href="@{/customers/delete-customer/{id}(id=${customer.id})}">Delete</a></td>-->
<!--        <td>-->
<!--            <button onclick="setValueFormDelete('${customer.id}')" class="btn btn-danger" data-toggle="modal"-->
<!--                    data-target="#modalDelete">Delete-->
<!--            </button>-->
<!--        </td>-->
        <td>
            <button th:onclick="|onDelete(${customer.id})|" type="button" class="btn btn-primary btn-lg"
                    data-toggle="modal" data-target="#modalDelete">
                Delete
            </button>
        </td>

    </tr>
</table>
<div>
  <a th:if="${customerList.hasPrevious() }"
       th:href="@{'/customers'(page=${customerList.number-1},name=${name},idCustomerType=${customerTypeId})}">previous</a>
    <span th:text="${customerList.number+1}"></span>/<span th:text="${customerList.totalPages}"></span>
    <a th:if="${customerList.hasNext()}"
       th:href="@{'/customers'(page=${customerList.number+1},name=${name},idCustomerType=${customerTypeId})}">Next</a>
</div>


<!-- Modal Delete -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you want to delete?
            </div>
            <div class="modal-footer">
                <form action="/customers/delete" method="get">
                    <input type="hidden" id="idCustomer" name="id">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>



<script src="/assert/jquery/jquery-3.5.1.min.js"></script>
<script src="/assert/bootstrap413/js/popper.min.js"></script>
<script src="/assert/datatables/js/jquery.dataTables.min.js"></script>
<script src="/assert/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="/assert/bootstrap413/js/bootstrap.min.js"></script>
<script src="/assert/bootstrap413/js/bootstrap.bundle.js"></script>

<script>
    function onDelete(id) {
        document.getElementById("idCustomer").value = id;
        // alert(id)
    }

    function onSearch() {
        let a = document.getElementById("select").value;
        document.getElementById("idSearch").value = a;
    }

    $(document).ready(function () {
        $('#tableCustomer').dataTable({
            "dom": 'lrtip',
            "lengthChange": false,
            "pageLength": 5
        });
    });

    $('#exampleModal').on('show.bs.modal', event => {
        var button = $(event.relatedTarget);
        var modal = $(this);
    });
</script>
</body>
</html>