<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assert/bootstrap413/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assert/datatables/css/dataTables.bootstrap4.min.css">
</head>
<body>
<h1>Blog</h1>
<a href="/contract/create-contract">Add</a>
<table  border="1" cellpadding="5"  class="table table-striped">
    <tr>
        <td>STT</td>
        <td>Start Date</td>
        <th>End Date</th>
        <th>Deposit</th>
        <th>Total Money</th>
        <th>Customer </th>
        <th>Employee </th>
        <th>Service </th>


    </tr>
    <tr th:each="contract,index:${contractList}">
        <td th:text="${contract.id}"></td>
        <td th:text="${contract.startDate}"></td>
        <td th:text="${contract.endDate}"></td>
        <td th:text="${contract.deposit}"></td>
        <td th:text="${contract.totalMoney}"></td>
        <td th:text="${contract.customer.name}"></td>
        <td th:text="${contract.employee.name}"></td>
        <td th:text="${contract.appService.name}"></td>



    </tr>
</table>
<div>
    <a th:if="${contractList.hasPrevious() }"
       th:href="@{'/contract'(page=${contractList.number-1})}">previous</a>
    <span th:text="${contractList.number+1}"></span>/<span th:text="${contractList.totalPages}"></span>
    <a th:if="${contractList.hasNext()}"
       th:href="@{'/contract'(page=${contractList.number+1})}">Next</a>
</div>

<script src="/assert/jquery/jquery-3.5.1.min.js"></script>
<script src="/assert/bootstrap413/js/popper.min.js"></script>
<script src="/assert/datatables/js/jquery.dataTables.min.js"></script>
<script src="/assert/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="/assert/bootstrap413/js/bootstrap.min.js"></script>
<script src="/assert/bootstrap413/js/bootstrap.bundle.js"></script>
</body>
</html>