<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assert/bootstrap413/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assert/datatables/css/dataTables.bootstrap4.min.css">
</head>
<body>
<form th:action="@{/employee/edit-employee}" th:object="${employee}" method="post">
    <input type="hidden" th:field="*{id}">
    <table border="1" cellpadding="5">
        <tr>
            <td>Code</td>
            <td><input type="text" th:field="*{code}"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Birthday</td>
            <td><input type="date" th:field="*{birthDate}"></td>
        </tr>
<!--        <tr>-->
<!--            <td>Gender</td>-->
<!--            <td>-->
<!--                <input type="radio" th:field="*{gender}" value="0">Male-->
<!--                <input type="radio" th:field="*{gender}" value="1">Female-->
<!--                <input type="radio" th:field="*{gender}" value="2">LGBT-->
<!--            </td>-->
<!--        </tr>-->
        <tr>
            <td>ID Card</td>
            <td><input type="text" th:field="*{idCard}"></td>
        </tr>
        <tr>
            <td>Salary</td>
            <td><input type="text" th:field="*{salary}"></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="text" th:field="*{phone}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{email}"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" th:field="*{address}"></td>
        </tr>
        <tr>
            <td>
                Position
            </td>
            <td>
                <select th:field="*{position}">

                    <option th:each="position:${positionList}" th:text="${position.name}"
                            th:value="${position.id}">

                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Education Degree
            </td>
            <td>
                <select th:field="*{educationDegree}">

                    <option th:each="educationDegree:${educationDegreeList}" th:text="${educationDegree.name}"
                            th:value="${educationDegree.id}">

                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Division
            </td>
            <td>
                <select th:field="*{division}">

                    <option th:each="division:${divisionList}" th:text="${division.name}"
                            th:value="${division.id}">

                    </option>
                </select>
            </td>
        </tr>
        <tr>

            <td colspan="2"><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
<div><a th:href="@{/employee}">back to list</a></div>

<script src="/assert/jquery/jquery-3.5.1.min.js"></script>
<script src="/assert/bootstrap413/js/popper.min.js"></script>
<script src="/assert/datatables/js/jquery.dataTables.min.js"></script>
<script src="/assert/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="/assert/bootstrap413/js/bootstrap.min.js"></script>
<script src="/assert/bootstrap413/js/bootstrap.bundle.js"></script>
</body>
</html>